/* Styles */
@import './toastr.min.css';

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background-color: #fff;
}

a.active {
  color: orange;
}

nav {
  padding: 20px 0 20px 30px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.jumbotron {
  text-align: center;
}

.main {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.link {
  font-weight: bold;
}

.add-course {
  margin-bottom: 10px;
}

.coursesList {
  padding: 10px;
}

.form-group {
  width: 45%;
}

.form-control {
  margin-bottom: 5px;
}


h2 {
  color: #5bb7db;
}

.error-message {
  font: 24px fantasy;
  position: fixed;
  color: red;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  opacity: .7;
}

.blockfont {
  min-height: 55px;
}
.blockfont .line1,
.blockfont .line2 {
  height: 7px;
  display: inline-block;
  background-color: #f2f2f2;
}
.blockfont .line1 {
  width: 80%;
}
.blockfont .line2 {
  width: 60%;
}
